.divider {
    display: flex;
    margin: 2rem 0;
    font-size: 1.5rem;
    color: #DEDDED; /* Light purple shade */
}

.dots {
    letter-spacing: 0.8rem;
    font-size: 2rem;
}

.musicNote {
    margin-right: 0.8rem;
    margin-left: 0.8rem;
    font-size: 1.5rem;
}
