/* HomePage.module.css */

.container {
    display: flex;
    height: 100vh; /* Full viewport height */
    background-color: #f5f7fe; /* Light background color */
    font-family: 'DM Sans';
}

.NavBar {
    flex: 0 0 200px; /* Fixed width for NavBar */
    background-color: #ffffff;
    height: 100vh; /* Full height of viewport */
}

.Dashboard {
    flex: 1; /* Dashboard takes remaining space */
    overflow-y: auto; /* Allow scrolling if content overflows */
    padding: 20px;
}
