/* NavBar.module.css */

.navbar {
    width: 250px;
    height: 100vh;
    background-color: rgba(59, 60, 80, 1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
    padding-left: 20px;
    font-family: 'Lora';
}

.interactiveConcertProgramContainer {
    width: 100%;
    margin-bottom: 30px;
    text-align: left;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 300;
    margin-left: 10px;
    color:rgba(254, 251, 244, 1);
}

.databaseParent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative; /* Needed for active bar positioning */
    width: 100%;
}

.dashboard, .database {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    color: rgba(222, 221, 237, 1);
    transition: font-weight 0.2s;
    font-family: 'Lora', serif !important;
}

.dashboardText, .databaseText {
    margin-left: 10px;
    font-weight: normal;
}


.activeButton .dashboardText,
.activeButton .databaseText {
    font-weight: bold; /* Bold text for the active button */
    color: rgba(222, 221, 237, 1);
}

.icon, .server02Icon {
    width: 24px;
    height: 24px;
    transition: filter 0.2s;
    margin-right: 10px;
}

.activeBar {
    position: absolute;
    right: 0;
    width: 4px;
    height: 36px;
   /* left: 190px; /* Adjust this value to move it left */
    background-color: rgba(116, 114, 179, 1);
    border-radius: 25px;
    transition: transform 0.3s ease; /* Smooth sliding animation */
    transform: translateY(-50%);
}

.account {
    margin-top: auto;
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 16px;
    color: rgba(254, 251, 244, 1);
    cursor: pointer;
    font-family: 'Lora';
}



/* Avatar styling */
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f5f7fe;
    margin-right: 10px;
    object-fit: cover; /* Ensures the avatar image fits well */
}

/* Username styling when the user is logged in */
.userName {
    font-size: 16px;
    color: rgba(254, 251, 244, 1);
    font-family: 'Lora';
}
.userName:hover {
    color:rgba(116, 114, 179, 1);
}

/* Sign Up text styling for when no user is logged in */
.signUp {
    font-size: 16px;
    color: rgba(254, 251, 244, 1);
    cursor: pointer;
    font-family: 'Lora';
}
